time {
    display: block;
}

.post {
    margin-bottom: 24px;
}

button {
    margin: 24px 0;
}

.container {
    margin-top: 24px;
    background-color: lightpink;
    color: darkgreen;
    border-radius: 6px;
}
